div {
    text-align: center;
    margin: 20px;
}

h1 {
    color: #369;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #369;
    cursor: pointer;
}