div {

    div {
        display: flex;
        width: 100%;

        #start {
            display: flex;
            justify-content: center;

        }

        #game {
            display: flex;
            flex-wrap: wrap;
            height: 80vh;

            div {

                flex: 1 0 33.33%;
                box-sizing: border-box;
                border: 1px solid #000;
                height: 33.33%;
                display: flex;
                justify-content: center;

            }
        }


    }
}