div {

    div {
        display: flex;
        width: 100%;

        #start {
            display: flex;
            justify-content: center;

        }

        #game {
            display: flex;
            flex-wrap: wrap;
            height: 80vh;

            div {

                flex: 1 0 33.33%;
                box-sizing: border-box;
                border: 1px solid #000;
                height: 33.33%;
                display: flex;
                justify-content: center;

            }
        }

        #end {
            display: flex;
            flex-direction: column;
            align-items: center;

            H2 {
                font-size: 18px;
                margin-bottom: 20px;
            }

            table {
                width: 100%;
                border-collapse: collapse;

                td {
                    padding: 8px;
                    border: 1px solid #ccc;
                }
            }

            button {
                border-radius: 50px;
                width: 10%;
                margin-top: 20px;
                color: #369;
                border: 2px solid #369;
                padding: 8px;
                background-color: white;
            }
        }

    }

}